<ion-header>
  <ion-toolbar>
    <ion-title>DESCUBRIR Amiibo{{amiibo.id}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <p>Nombre: {{amiibo.name}}</p>
  <p>Serie: {{amiibo.amiiboSeries}}</p>
  <p>Personaje: {{amiibo.character}}</p>
  <p>Juego: {{amiibo.gameSeries}}</p>
  
  <ion-img style="height: 200px" [src]="amiibo.image"></ion-img>

  

</ion-content>
