<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Amiibo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Tarea #4: Aplicaciones Móviles</h1>
        <h2>Personajes Amiibo de Nintendo</h2>
        <h3>Con Ionic y Angular</h3>
        <br />
      </ion-col>
    </ion-row>

    <!--Solo agregamos el boton para reservar-->
    <ion-row>
      <ion-col>
        <ion-button
          color="primary"
          class="ion-text-center"
          (click)="getAmiibo()"
        >
          Mostrar Personajes
        </ion-button>
      </ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col *ngFor="let mi of amiibo">
        <ion-label>Amiibo{{mi.id}}: {{mi.name}}</ion-label>
        <ion-img style="height: 300px" [src]="mi.image"></ion-img>
        <ion-label>Game Series: {{mi.gameSeries}}</ion-label>
        <br>
        <ion-button
          color="dark"
          class="ion-text-center"
          (click)="onDescubrir(mi.id)"
        >Detalle</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
